<div id ="weather"></div>
<%= link_to "新規登録", new_user_registration_path, :class => 'post' %>
<% if user_signed_in? %>
  <%= link_to "服を登録", new_suit_path, data: {"turbolinks" => false} %>
<%end%>

<div class= "content">
  <div class = "content__inner">
    <% if @suits.present? %>
    <%= form_tag('/suits', method: :get, id: "condition") do %>
    <%end%>
    <%end%>
  </div>
</div>

